@model MMC2.Models.Tarefa

@{
    ViewBag.Title = "Delete";
}
@section Scripts {
    <script src="~/Scripts/jquery-1.9.1.js"></script>
    <script src="~/Scripts/jquery-ui-1.10.3.custom.min.js"></script>
    <script src="~/Scripts/jquery.maskedinput.js"></script>
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        $(document).ready(function () {
           
            $("#lnkVoltar").button({ icons: { primary: "ui-icon-arrowreturnthick-1-w" } });
            $("#btnSalvar").button({
                icons: {
                    primary: "ui-icon-disk"
                },
                text: false
            })
        });
    </script>
}

<h2>Excluir tarefa de código: @Model.Id</h2>

<h3 style="color:red;">Você tem certeza que deseja remover esta tarefa?</h3>
<fieldset>
    <legend>Tarefa</legend>
    <table>
        <tr>
            <td>
                <div class="display-label">
                    @Html.DisplayNameFor(model => model.Nome)
                </div>
           
                <div class="display-field">
                    @Html.DisplayFor(model => model.Nome)
                </div>

            </td>
        </tr>
        <tr>
            <td>

                <div class="display-label">
                    @Html.DisplayNameFor(model => model.Descricao)
                </div>

                <div class="display-field">
                    @Html.DisplayFor(model => model.Descricao)
                </div>

            </td>
        </tr>
        <tr>
            <td>

                <div class="display-label">
                    @Html.DisplayNameFor(model => model.DataInicio)
                </div>

                <div class="display-field">
                    @Html.DisplayFor(model => model.DataInicio)
                </div>

            </td>
        </tr>
        <tr>
            <td>
                <div class="display-label">
                    @Html.DisplayNameFor(model => model.DataFinal)
                </div>
      
                <div class="display-field">
                    @Html.DisplayFor(model => model.DataFinal)
                </div>
            </td>
        </tr>
        <tr>
            <td>

                <div class="display-label">
                    @Html.DisplayNameFor(model => model.Porcentagem)
                </div>
       
                <div class="display-field">
                    @Html.DisplayFor(model => model.Porcentagem)
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="display-label">
                    @Html.DisplayName("Status da tarefa")
                </div>
        
                <div class="display-field">
                    @Html.DisplayFor(model => model.Status.Nome)
                </div>
            </td>
        </tr>
        <tr>
            <td>

                <div class="display-label">
                    @Html.DisplayNameFor(model => model.Projeto.Nome)
                </div>
         
                <div class="display-field">
                    @Html.DisplayFor(model => model.Projeto.Nome)
                </div>
            </td>
        </tr>
        <tr>
            <td>

                <div class="display-label">
                    @Html.DisplayNameFor(model => model.Prioridade)
                </div>
         
                <div class="display-field">
                    @Html.DisplayFor(model => model.Prioridade)
                </div>

            </td>
        </tr>
        <tr>
            <td>

                <div class="display-label">
                    @Html.DisplayName("Executor da tarefa")
                </div>
           
                <div class="display-field">
                    @Html.DisplayFor(model => model.Usuario.Nome)
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="display-label">
                    @Html.DisplayNameFor(model => model.TempoEstimado)
                </div>
            
                <div class="display-field">
                    @Html.DisplayFor(model => model.TempoEstimado)
                </div>
            </td>
        </tr>
        <tr>
            <td>

                <div class="display-label">
                    @Html.DisplayName("Habilidade requerida")
                </div>
            
                <div class="display-field">
                    @Html.DisplayFor(model => model.TipoSkill.Nome)


                </div>
            </td>
        </tr>
    </table>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Excluir tarefa" id="btnSalvar"/> 
        @Html.ActionLink("Voltar para a Lista", "Index", null,  new { id = "lnkVoltar" })
    </p>
}
