@model MMC2.Models.Telefone

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Telefone</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Numero)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Numero)
            @Html.ValidationMessageFor(model => model.Numero)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Ddd)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Ddd)
            @Html.ValidationMessageFor(model => model.Ddd)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Ramal)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Ramal)
            @Html.ValidationMessageFor(model => model.Ramal)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Contato)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Contato)
            @Html.ValidationMessageFor(model => model.Contato)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Endereco_Id, "Endereco")
        </div>
        <div class="editor-field">
            @Html.DropDownList("Endereco_Id", String.Empty)
            @Html.ValidationMessageFor(model => model.Endereco_Id)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
