@model IEnumerable<MMC2.Models.Telefone>

@{
    ViewBag.Title = "Telefones";
    WebGrid grid = new WebGrid(Model, rowsPerPage: 5, ajaxUpdateContainerId: "gridContent");
}

<h2>Telefones</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div id="gridContentClientes">
@grid.GetHtml(
    tableStyle: "gridTable",
    headerStyle: "gridHead", 
    footerStyle:"gridFooter",
	rowStyle:"gridRow", 
    alternatingRowStyle: "gridAltRow",
    htmlAttributes: new { id = "grid-dash" },
    columns: new [] {
    grid.Column("Endereco.Rua",header:"Endereço"),
    grid.Column("Ddd",header:"Ddd",format:p=>p.DataInicio.ToShortDateString()),
    grid.Column("Numero",header:"Número",format:p=>p.DataFinal.ToShortDateString()),
    grid.Column("Ramal",header:"Ramal"),
    grid.Column("Contato",header:"Falar com"),
    grid.Column("",header:"Editar",format:@<text> @Html.ActionLink("Editar", "Edit", new { id=item.Id }) </text>, style:"gridBtn"),
    grid.Column("",header:"Visualizar",format:@<text> @Html.ActionLink("Detalhar", "Details", new { id=item.Id }) </text>, style:"gridBtn"),
    grid.Column("",header:"Deletar",format:@<text> @Html.ActionLink("Remover", "Delete", new { id=item.Id }) </text>, style:"gridBtn")
})
</div>
