@model MMC2.Models.Endereco

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

   
        
            @Html.LabelFor(model => model.Rua)
       
        
            @Html.EditorFor(model => model.Rua)
            @Html.ValidationMessageFor(model => model.Rua)
        

        
            @Html.LabelFor(model => model.Numero)
       
            @Html.EditorFor(model => model.Numero)
            @Html.ValidationMessageFor(model => model.Numero)
        

        
            @Html.LabelFor(model => model.Bairro)
       
            @Html.EditorFor(model => model.Bairro)
            @Html.ValidationMessageFor(model => model.Bairro)
       
            @Html.LabelFor(model => model.CEP)
       
            @Html.EditorFor(model => model.CEP)
            @Html.ValidationMessageFor(model => model.CEP)
       
            @Html.LabelFor(model => model.Cidade)
        
            @Html.EditorFor(model => model.Cidade)
       
            @Html.LabelFor(model => model.Estado)
      
            @Html.EditorFor(model => model.Estado)
            @Html.ValidationMessageFor(model => model.Estado)
     
            @Html.LabelFor(model => model.Complemento)
    
            @Html.EditorFor(model => model.Complemento)
            @Html.ValidationMessageFor(model => model.Complemento)
      

        <p>
            <input type="submit" value="Create" />
        </p>
   
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
