@model MMC2.Models.Skill

@{
    ViewBag.Title = "Delete";
}
@section Scripts {
    <script src="~/Scripts/jquery-1.9.1.js"></script>
    <script src="~/Scripts/jquery-ui-1.10.3.custom.min.js"></script>
    <script src="~/Scripts/jquery.maskedinput.js"></script>
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        $(document).ready(function () {
           
            $("#lnkVoltar").button({ icons: { primary: "ui-icon-arrowreturnthick-1-w" } });
            $("#btnSalvar").button({
                icons: {
                    primary: "ui-icon-disk"
                },
                text: false
            })
        });
    </script>
}
<h2>Excluir atribuição</h2>

<h3 style="color:red;">Você tem certeza que deseja remover esta atribuição?</h3>

<fieldset>
    <legend>Skill</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Nivel)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Nivel)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Usuario.Nome)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Usuario.Nome)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TipoSkill.Nome)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TipoSkill.Nome)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Excluir Atribuição" id="btnSalvar"/> 
        @Html.ActionLink("Voltar para a Lista", "Index", null,  new { id = "lnkVoltar" })
    </p>
}
