@model MMC2.Models.Skill

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Skill</legend>

        @Html.HiddenFor(model => model.Id)

        <div class="editor-label">
            @Html.LabelFor(model => model.Nivel)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Nivel)
            @Html.ValidationMessageFor(model => model.Nivel)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Usuario_Id, "Usuario")
        </div>
        <div class="editor-field">
            @Html.DropDownList("Usuario_Id", String.Empty)
            @Html.ValidationMessageFor(model => model.Usuario_Id)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SkillTipo)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SkillTipo)
            @Html.ValidationMessageFor(model => model.SkillTipo)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
