@model MMC2.Models.Historico

@{
    ViewBag.Title = "Novo";
}
@section Scripts {
    <script src="~/Scripts/jquery-1.9.1.js"></script>
    <script src="~/Scripts/jquery-ui-1.10.3.custom.min.js"></script>
    <script src="~/Scripts/jquery.maskedinput.js"></script>
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        $(document).ready(function () {

            $("#lnkVoltar").button({ icons: { primary: "ui-icon-arrowreturnthick-1-w" } });
            $("#btnSalvar").button({
                icons: {
                    primary: "ui-icon-disk"
                },
                text: false
            })
        });
    </script>
}
<h2>Incluir Histórico</h2>

<div id="criar_historico">

    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)

        <div style="border: 1px; float: left; margin: 10px">
            <div class="editor-label">
                @Html.LabelFor(model => model.QtdHoras)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.QtdHoras)
                @Html.ValidationMessageFor(model => model.QtdHoras)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.DataLancamento)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.DataLancamento)
                @Html.ValidationMessageFor(model => model.DataLancamento)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.Descrição)
            </div>
            <div class="editor-field">
                @Html.TextAreaFor(model => model.Descrição)
                @Html.ValidationMessageFor(model => model.Descrição)
            </div>
        </div>
        <div style="border: 1px; float: left; margin: 10px">
            <div class="editor-label">
                @Html.LabelFor(model => model.Tarefa_Id, "Tarefa relacionada")
            </div>
            <div class="editor-field">
                @Html.DropDownList("Tarefa_Id", String.Empty)
                @Html.ValidationMessageFor(model => model.Tarefa_Id)
            </div>
            
            <p>
                <input type="submit" value="Criar histórico" id="btnSalvar" />
            </p>
            
            <div>
                @Html.ActionLink("Voltar para a Lista", "Index", null, new { id = "lnkVoltar" })
            </div>
        </div>
 
    }
</div>


