@model MMC2.Models.Historico

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Historico</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.QtdHoras)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.QtdHoras)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DataLancamento)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DataLancamento)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Descrição)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Descrição)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Tarefa.Nome)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Tarefa.Nome)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Usuario.Nome)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Usuario.Nome)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
